@page "/users/register"

<h3>Register New Account</h3>

@if (string.IsNullOrEmpty(_message) == false)
{
    <div class="alert alert-danger">
        <p>@_message</p>
    </div>
}

<div class="card-body">
    <EditForm Model="_registrationModel" OnValidSubmit="HandleRegistration">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

    <div class="form-group">
        <label for="email">Email Address</label>
        <InputText id="email" class="form-control" @bind-Value="_registrationModel.Email"/>
        <ValidationMessage For="@(() => _registrationModel.Email)"></ValidationMessage>
    </div>
        <br/>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <InputText id="firstName" class="form-control" @bind-Value="_registrationModel.FirstName"/>
        <ValidationMessage For="@(()=> _registrationModel.FirstName)"></ValidationMessage>
    </div>
        <br/>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <InputText id="lastName" class="form-control" @bind-Value="_registrationModel.LastName"/>
        <ValidationMessage For="@(()=> _registrationModel.LastName)"></ValidationMessage>
    </div>
        <br/>
        <div class="form-group">
            <label for="password">Password</label>
            <InputText id="password" class="form-control" type="password" @bind-Value="_registrationModel.Password"/>
            <ValidationMessage For="@(()=> _registrationModel.Password)"></ValidationMessage>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </EditForm>
</div>
